#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.btn.play {
  background-color: #667EEA;
  color: white;
  border: none;
}

.btn.play:hover {
  background-color: #5568d3;
  color: white;
}

.btn.play:active,
.btn.play:focus {
  background-color: #4557bc;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(102, 126, 234, 0.5);
}